- title 'Signup'
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :username, :required => true
  = f.input :email, :required => true
  = f.input :password, :required => true
  = f.input :password_confirmation, :required => true
  .buttons
    = f.submit "Sign up"
