- title 'Sign in'
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = devise_error_messages!
  = f.input :username, :required => true
  = f.input :password, :required => true
  - if devise_mapping.rememberable?
    = f.input :remember_me, :as => :boolean
  = f.submit "Sign in"