!!! XML
!!!
%html
  %head
    %title
      = yield(:title) || app_name
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application', :media => 'screen, projection'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    = yield(:head)
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

  %body.bp

    #container

      #header
        %h1#logo= link_to app_name, root_path
        #usermgmt
          - if user_signed_in?
            = "Signed in as #{current_user.username}. Not you? "
            = link_to "Sign out", destroy_user_session_path
          - else
            = link_to "Sign in", new_user_session_path
            = "or"
            = link_to "Sign up", new_user_registration_path

      #content
        - if show_title?
          %h1= yield(:title)

        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}"

        = yield

      #footer= "#{app_name} powered by rails-template™"